/*
 * Skin for jPlayer Plugin (jQuery JavaScript Library)
 * http://www.jplayer.org
 *
 * Skin Name: Lonergan Resource
 *
 * Author: Foresite Group
 * Skin Version: 1.0 (jPlayer 2.9.2)
 * Date: 24 August 2017
 */

.jp-audio *:focus {
  /* Disable the browser focus highlighting. */
  outline: none; }

.jp-audio button::-moz-focus-inner {
  /* Disable the browser CSS3 focus highlighting. */
  border: 0; }

.jp-audio {
  font-size: 16px;
  font-family: Verdana, Arial, sans-serif;
  color: #FFFFFF;
  background: #4F4D4D;
}

/* @group CONTROLS */
.jp-audio .jp-controls-holder {
  height: 30px;
  border-bottom: 1px solid #000000;
}

.jp-controls {
  display: inline-block;
  width: 90px;
  height: 30px;
  margin-right: -4px;
}

.jp-controls-holder.single .jp-controls { width: 30px; }

.jp-controls button {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background: transparent;
  color: #FFFFFF;
  border-right: 1px solid #000000;
  outline: none;
}
/* @end */

/* @group playlist player controls */
.jp-play:after { content: "\f04b"; font-family: FontAwesome; }
.jp-state-playing .jp-play:after,
.jp-state-playing .jp-play:focus:after { content: "\f04c"; color: #BDBE6F; }

.jp-previous:after { content: "\f048"; font-family: FontAwesome; }
.jp-next:after { content: "\f051"; font-family: FontAwesome; }

.jp-controls-holder.single .jp-previous,
.jp-controls-holder.single .jp-next { display: none; }
/* @end */

/* @group progress bar */
/* The seeking class is added/removed inside jPlayer */
/*div.jp-seeking-bg { overflow: hidden; }*/
div.jp-seeking-bg:before {
  content: "";
  display: block;
  width: calc(100% + 112px);
  height: inherit;
  background-image: repeating-linear-gradient(-45deg, #000000, #000000 10px, #BDBE6F 10px, #BDBE6F 20px);
  animation: slide 3s linear infinite;
}

@keyframes slide {
  from { transform: translateX(-112px); }
  to { transform: translateX(0); }
}

.jp-progress {
  display: inline-block;
  width: 70%;
  height: 30px;
  margin-right: -6px;
  border-right: 1px solid #000000;
  position: relative;
}

.jp-controls-holder.single .jp-progress { width: calc(70% + 60px); }

.jp-seek-bar {
  background: #000000;
  width: calc(100% - 125px) !important;
  height: 10px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 0.2em),-50%);
}

.jp-play-bar {
  background: #BDBE6F;
  width: 0px;
  height: 10px;
  overflow: visible !important;
}
/* @end */

/* @group current time and duration */
.jp-current-time, .jp-duration {
  font-size: 60%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.jp-current-time { left: 1em; }
.jp-duration { right: 1em; }
/* @end */

/* @group volume controls */
.jp-audio .jp-volume-controls {
  display: inline-block;
  width: 76px;
  height: 30px;
  margin-right: -4px;
  position: relative;
}

.jp-volume-controls button {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  background: transparent;
  color: #FFFFFF;
  font-size: 16px;
  outline: none;
}

.jp-audio .jp-volume-controls .jp-mute {
  top: 50%;
  left: 3px;
  transform: translateY(-60%);
}

.jp-volume-controls .jp-mute:after { content: "\f026"; font-family: FontAwesome; }
.jp-state-muted .jp-volume-controls .jp-mute:after,
.jp-state-muted .jp-volume-controls .jp-mute:focus:after { color: #BDBE6F; }

.jp-volume-bar {
  background: #000000;
  width: 43px;
  height: 7px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.jp-volume-bar-value {
  background: #BDBE6F;
  height: 7px;
}
/* @end */

/* @group playlist */
.jp-playlist ul {
  list-style-type: none;
  font-size: 80%;
  margin: 0;
  padding: 0 0 1px 0;
}

.jp-playlist li {
  border-top: 1px solid #3D3D3D;
  padding: 4px 12px;
  font-weight: bold;
  position: relative;
}

.jp-playlist li:first-of-type { border-top: 0; }

div.jp-playlist a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

div.jp-playlist a:hover,
div.jp-playlist li.jp-playlist-current a {
  color: #BDBE6F;
}

.jp-playlist .jp-free-media {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  z-index: 10;
}

.jp-playlist .jp-free-media A { color: #FFFFFF !important; }
.jp-playlist .jp-free-media A:hover { color: #BDBE6F !important; }

.jp-playlist-item {
  position: relative;
  display: block;
  padding-right: 76px;
  padding-left: 2em;
}

.jp-artist {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
/* @end 